* {
  box-sizing: border-box;
}

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  box-sizing: border-box;
  font-family: "Blinker", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
  /* 20 a the bottom */
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: gray;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}
/* if form control has class of success in the input/then border color green */

.form-control.error input {
  border-color: var(--error-color);
}

/* if form control has class of success in the input/then border color orangy red */
/* will add later in the javascript */

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

/* visibility hidden is different to display none */

.form button {
  cursor: pointer;
  background-color: #3498db;
  border-radius: 4px;
  border: 2px solid #3498db;
  display: inline-block;
  font-size: 16px;
  color: white;
  padding: 8px;
  margin-top: 10px;
  width: 100%;
}

.form button:hover {
  background-color: white;
  color: #3498db;
  border: 2px solid #3498db;
  font-weight: 600;
}
